In [0]:
%python
#Union() : combaining two or more DataFrames which is having same sturture and schema
#UnionByName() : combaining two or more DataFrames having different schema and takes param #allowMissingColumns = True

ame1 = spark.createDataFrame([("bob",42),("lisa",32)],["first name","age"])
col1 = spark.createDataFrame([("maria",20),("camlin",35)],["first name","age"])
ame1.show()
col1.show()

result = ame1.union(col1)
result.show()


details = [(1,'krishna','IT','male')]
column = ['id','name','department','gender']

details1 = [(1,'krishna','IT','1000')]
column1 = ['id','name','department','salary']


df1 = spark.createDataFrame(details,column)
df2 = spark.createDataFrame(details1,column1)
df1.show()
df2.show()

df3 = df1.union(df2)
df3.show()

df1.unionByName(df2,allowMissingColumns=True).show()

In [0]:
%python
#Eample 2
dataframe1 = spark.createDataFrame([('James',87.33),('Anna',93.25),('Anita',87.48)],['name','OverallPercentage'])
dataframe2 = spark.createDataFrame([('Maria1',94.43),('Anna1',94.53),('Anita1',94.48)],['name','OverallPercentage'])
dataframe1.show()
dataframe2.show()

dataframe1.union(dataframe2).show()

In [0]:
%python
#UnionBYName: combaine two or more dataframes which have doffernce schema because its conbaine data by name not by order of column
d1 = spark.createDataFrame([("maria",20),("camlin",35)],["first name","age"])
df2 = spark.createDataFrame([(20,"maria"),(35,"camlin")],["age","first name"])
d1.show()
df2.show()

d1.unionByName(df2,allowMissingColumns=True).show()